$bg1: darken(#F7FBFF, 1);
$bg2: #D4F5FF;
$gray: #BBC6DB;
$purple: #9747FF;
$text1: #575757;
$text2: #383838;
$dark: #242424;
$primary: #188BF1;
$blue: #D5F5FF;
$blue2: #F6FDFF;
$red: #FF4747;
$green: #4FD141;
$yellow: #ff9800;

$smm: 370px;
$sm: 500px;
$md: 780px;
$xl: 1000px;
$xxl: 1380px;
$xxxl: 1600px;
